<!DOCTYPE html>
<html>
<head>
  <title> Homepage </title>
  <link rel="stylesheet" type="text/css" href="customer.css"/>
</head>
<body>
  <div class="page">
  <nav class="page__menu menu">
    <ul class="menu__list r-list">
      <li class="menu__group"><a href="customer_homepage.html" class="menu__link r-link text-underlined">Homepage</a></li>
      <li class="menu__group"><a href="customer_flights.html" class="menu__link r-link text-underlined">Flights</a></li>
      <li class="menu__group"><a href="customer_track_spending.html" class="menu__link r-link text-underlined">Spending</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Logout</a></li>
    </ul>
  </nav>
  <div style="margin-top: 30%;">
  <h1 style="font-size: 5vw;"> Welcome {{name}}!</h1>
  <h2 style="font-size: 2vw;"> Please see the menu above to explore the different ways you have access to your account</h2>
  </div>
</div>
</body>
</html>
